/* istruzioni generiche di pagina */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

header{
  height: 550px;
  border: 1px solid green;
  background-image: url(../img/background-header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 146%;
  background-color: #3b5998;
}


/* ISTRUZIONI NAV */
nav{
  width: 80%;
  margin: auto;
  height: 60px;
  /* debug */;
  line-height: 60px;
  border:1px solid black;
  /* padding: 0 100px; */
  /* background-color: #3b5998; */
}

nav:after{
  content:"";
  display: table;
  clear: both;
}

.logo, .navbar_left, .navbar_right{
  float: left;
}

.navbar_left ul li{
  margin:0 10px;
}

.navbar_right ul li{
  margin:0 10px;
}


.nav_button{
  padding: 5px 30px;
  border-radius: 10px;
  border: 1px solid white;
}

#last_button{
  background-color: green;
  border-color: green;
}
/* debug */
.navbar_left{
  border: 1px solid red;
}

.navbar_right{
  margin-left: 30px;
  padding-right: 0px;
  border:1px solid green;

}

li{
  display:inline-block;
}

 ul{
  float: left;
}

ul li a{
  color:white;
  text-decoration: none;
}

.jumbotext{
  width: 80%;
  margin-left: 10%;
  color:white;
  border: 1px solid red;
  position:absolute;
  bottom:400px;
}

/* MAIN'S ISTRUCTIONS */

main{
  /* debug */;
  height: 1000px;
  background-color: pink;
}


.row{
  /* debug */;
  height: 50%;
  border: 1px solid black;
  text-align: center;
  padding:0 100px;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}

.row.uno .column{
  float: left;
  /* debug */;
  width: calc(100% / 3);
  height: 100%;
  border: 3px solid yellow;
}

.row.due .column{
  float: left;
  /* debug */;
  width: calc(100% / 2);
  height: 100%;
  border: 3px solid yellow;
}

.column_img{
  width: 50%;
  /* debug */
  height: 200px;
  border: 1px solid red;
  margin: auto;
}

footer{
  height: 20vh;
  background-color: lightgrey;
  text-align: center;
  padding: 0 100px;
}
