/* istruzioni generiche di pagina */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

header{
  height: 100vh;
  /* debug */;

}

nav{
  height: 80px;
  /* debug */;
  line-height: 80px;
  border:1px solid black;
  padding: 0 100px;
  background-color: #3b5998;
}



.jumbotron{
  height: calc(80% - 80px);
  position:relative;
  /* debug */;
  background-color: #3b5998;
  border: 1px solid black;
}

.jumbotron:after{
  content:"";
  display: table;
  clear: both;
}

.jumbotron_img{
  width: 50%;
  height: calc(100% - 100px);
  margin: 100px 0;
  border: 1px solid red;
  float: right;
  position: relative;
  background-image: url(../img/background-header.png);
  background-size: contain;
  background-position:bottom;
  background-repeat: no-repeat;
}

.jumbotron img{
  width: 900px;
  margin-right: -75px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.jumbotext{
  /* debug */;
  width: 50%;
  /* height: 300px; */
  color:white;
  border: 1px solid black;
  margin: 100px 0px;
  padding: 20px 0 0 100px;
  float: left;
}

#brand_mission{
  font-size: calc(20px + 2vw);
  margin-bottom: 40px;
}

.jumbobutton{
  text-decoration: none;
  color: white;
  background-color: #20dd4e;
  padding: 20px 30px;
  border-radius: 10px;
}

.header_bottom_side{
  height: 20%;
  /* debug */;
  background-color: lightgrey;
  border: 1px solid black;
  text-align: center;
  padding: 0 100px;
}

/* MAIN'S ISTRUCTIONS */

main{
  /* debug */;
  height: 1000px;
  background-color: pink;
}


.row{
  /* debug */;
  height: 50%;
  border: 1px solid black;
  text-align: center;
  padding:0 100px;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}

.row.uno .column{
  float: left;
  /* debug */;
  width: calc(100% / 3);
  height: 100%;
  border: 3px solid yellow;
}

.row.due .column{
  float: left;
  /* debug */;
  width: calc(100% / 2);
  height: 100%;
  border: 3px solid yellow;
}

.column_img{
  width: 50%;
  /* debug */
  height: 200px;
  border: 1px solid red;
  margin: auto;
}

footer{
  height: 20vh;
  background-color: lightgrey;
  text-align: center;
  padding: 0 100px;
}
